In [ ]:
## ONLY NEEDED WHEN USING sqlite3 and prettytable

# !pip install sqlalchemy==1.3.9
# !pip install ipython-sql
# !pip install ipython-sql prettytable

In [24]:
# set python path to parent directory
import os
os.chdir("..")  # go up to the project root from /notebooks/

# import sqlite3
# import prettytable
# prettytable.DEFAULT = 'DEFAULT'

# # Establishing the connection to the database
# ## The database name is data/Spacex.db

# con = sqlite3.connect("data/SpaceX.db")
# cur = con.cursor()

In [25]:
%load_ext sql
%sql sqlite:///data/SpaceX.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [26]:
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///data/SpaceX.db
Done.

[('SPACEXTBL',)]

In [27]:
# display table info with PRAGMA
%sql PRAGMA table_info(SPACEXTBL)

 * sqlite:///data/SpaceX.db
Done.

[(0, 'flight_number', 'INTEGER', 0, None, 0),
 (1, 'booster', 'TEXT', 0, None, 0),
 (2, 'payload_mass', 'REAL', 0, None, 0),
 (3, 'outcome', 'TEXT', 0, None, 0),
 (4, 'date', 'TEXT', 0, None, 0),
 (5, 'longitude', 'REAL', 0, None, 0),
 (6, 'latitude', 'REAL', 0, None, 0),
 (7, 'reused', 'INTEGER', 0, None, 0),
 (8, 'reused_count', 'INTEGER', 0, None, 0),
 (9, 'serial', 'TEXT', 0, None, 0),
 (10, 'landing_pad', 'TEXT', 0, None, 0),
 (11, 'gridfins', 'INTEGER', 0, None, 0),
 (12, 'legs', 'INTEGER', 0, None, 0),
 (13, 'booster_version', 'TEXT', 0, None, 0),
 (14, 'orbit', 'TEXT', 0, None, 0),
 (15, 'launch_site', 'TEXT', 0, None, 0),
 (16, 'class', 'INTEGER', 0, None, 0)]

In [28]:
# display the names of the unique launch sites
%sql select distinct launch_site from SPACEXTBL

 * sqlite:///data/SpaceX.db
Done.

[('CCAFS',), ('VAFB',), ('Cape Canaveral',), ('KSC',), ('CCSFS',)]

In [29]:
# display 5 records where Launch_Site begins with 'CCA'
%sql select * from SPACEXTBL where launch_site like 'CCA%' limit 8

 * sqlite:///data/SpaceX.db
Done.

[(1, 'Falcon 1', 20.0, 'None None', '2006-03-24', 167.7431292, 9.0477206, 0, 0, 'Merlin1A', None, 0, 0, 'F9 v1.07B0003.18', 'LEO', 'CCAFS', 0),
 (2, 'Falcon 1', 5919.16534090909, 'None None', '2007-03-21', 167.7431292, 9.0477206, 0, 0, 'Merlin2A', None, 0, 0, 'F9 v1.07B0004.18', 'LEO', 'CCAFS', 0),
 (4, 'Falcon 1', 165.0, 'None None', '2008-09-28', 167.7431292, 9.0477206, 0, 0, 'Merlin2C', None, 0, 0, 'F9 v1.07B0006.18', 'LEO', 'CCAFS', 0),
 (5, 'Falcon 1', 200.0, 'None None', '2009-07-13', 167.7431292, 9.0477206, 0, 0, 'Merlin3C', None, 0, 0, 'F9 v1.07B0007.18', 'LEO', 'CCAFS', 0),
 (8, 'Falcon 9', 525.0, 'None None', '2012-05-22', -80.577366, 28.5618571, 0, 0, 'B0005', None, 0, 0, 'F9 v1.1', 'GTO', 'CCAFS', 0),
 (47, 'Falcon 9', 4990.0, 'True RTLS', '2017-09-07', -80.6039558, 28.6080585, 0, 1, 'B1040', '5e9e3032383ecb267a34e7c7', 1, 1, 'F9 B4', 'LEO', 'CCAFS', 1),
 (48, 'Falcon 9', 9600.0, 'True ASDS', '2017-10-09', -120.610829, 34.632093, 0, 1, 'B1041', '5e9e3033383ecbb9e534e7cc', 1, 1, 'F9 FTB1032.2245', 'GTO', 'CCAFS', 1),
 (50, 'Falcon 9', 3700.0, 'True ASDS', '2017-10-30', -80.6039558, 28.6080585, 0, 0, 'B1042', '5e9e3032383ecb6bb234e7ca', 1, 1, 'F9 B4', 'GTO', 'CCAFS', 1)]

In [30]:
# Display the total payload mass carried by boosters launched by NASA (CRS)
%sql select SUM(payload_mass) from SPACEXTBL where customer like 'NASA%'

 * sqlite:///data/SpaceX.db
(sqlite3.OperationalError) no such column: customer
[SQL: select SUM(payload_mass) from SPACEXTBL where customer like 'NASA%']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [31]:
# Display average payload mass carried by booster version F9 v1.1
%sql select SUM(payload_mass) from SPACEXTBL where booster_version = 'F9 v1.1'

 * sqlite:///data/SpaceX.db
Done.

[(25383.0,)]

In [32]:
# List the date when the first succesful landing outcome in ground pad was acheived.
%sql select MIN(date) from SPACEXTBL where outcome like 'Success%'

 * sqlite:///data/SpaceX.db
Done.

[(None,)]

Next: List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [40]:
%%sql
    SELECT booster_version, payload_mass
    FROM SPACEXTBL WHERE outcome = 'Success (drone ship)'
    AND payload_mass <= 6000
    AND payload_mass >= 4000

 * sqlite:///data/SpaceX.db
Done.

[]

**Next query:** Lists the total number of susuccessful and failure mission outcomes

In [39]:
%%sql
    select COUNT(*)
    from SPACEXTBL
    where outcome like 'Success%'

 * sqlite:///data/SpaceX.db
Done.

[(0,)]

In [41]:
%%sql
    select COUNT(*)
    from SPACEXTBL
    where outcome like 'Failure%'

 * sqlite:///data/SpaceX.db
Done.

[(0,)]

**Next query:** Lists the names of the booster_versions which have carried the maximum payload mass.

In [46]:
%%sql
    select booster_version, payload_mass
    from SPACEXTBL
    where payload_mass = (select MAX(payload_mass) from SPACEXTBL)

 * sqlite:///data/SpaceX.db
Done.

[('F9 B5', 15600.0),
 ('F9 B5', 15600.0),
 ('F9 B5B1058.2544', 15600.0),
 ('F9 B5', 15600.0),
 ('F9 B5', 15600.0),
 ('F9 B5B1060.2563', 15600.0),
 ('F9 B5B1051.6568', 15600.0),
 ('F9 B5', 15600.0),
 ('F9 B5 ', 15600.0),
 ('F9 B5 ', 15600.0),
 ('F9 B5 ', 15600.0),
 ('F9 B5', 15600.0),
 ('F9 B5B1051.8609', 15600.0)]

**Next query:** List the records which will display the month names, failure landing_outcomes in drone ship ,
booster versions, launch_site for the months in year 2015.
Note: SQLLite does not support monthnames. We need to use substr(Date, 6,2) as month to get the months
and substr(Date,0,5)='2015' for year.

In [ ]:
%%sql 
    select substr(date,6,2) as month, outcome, booster_version, launch_site
    from SPACEXTBL
    where date like '2015%'
    and landing_outcome = 'Failure (drone ship)'

**Next query** rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) 
between the date 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
%%sql 
    select date, landing_outcome
    from SPACEXTBL
    where landing_outcome in ('Failure (drone ship)', 'Success (ground pad)')
    order by date desc