In [5]:
!pip install sqlalchemy==1.3.9
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 2.3 MB/s eta 0:00:0000:0100:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml) ... done
  Created wheel for sqlalchemy: filename=sqlalchemy-1.3.9-cp312-cp312-linux_x86_64.whl size=1196119 sha256=cc12a1f31a81acae3e50e5bf7f35b0d0de276db34798b6847b2316c730c4bac8
  Stored in directory: /home/antoine/.cache/pip/wheels/b3/1c/42/0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.40
    Uninstalling SQLAlchemy-2.0.40:
      Successfully uninstalled SQLAlchemy-2.0.40
Successfully installed sqlalchemy-1.3.9
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython-sql) (9.0.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached sqlalchemy-2.0.40-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: greenlet>=1 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.13.0)
Requirement already satisfied: decorator in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Using cached sqlalchemy-2.0.40-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.4/44.4 kB 3.5 MB/s eta 0:00:00
Installing collected packages: ipython-genutils, sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.40 sqlparse-0.5.3
Requirement already satisfied: ipython-sql in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (3.16.0)
Requirement already satisfied: ipython in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython-sql) (9.0.2)
Requirement already satisfied: sqlalchemy>=2.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython-sql) (2.0.40)
Requirement already satisfied: sqlparse in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.13.0)
Requirement already satisfied: decorator in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in /home/antoine/Documents/spaceY/venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [1]:
# loads the ipython-sql extension
%load_ext sql

In [2]:
# set python path to parent directory
import os
os.chdir("..")  # go up to the project root from /notebooks/

In [3]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

In [5]:
# Establishing the connection to the database
## The database name is data/Spacex.db

con = sqlite3.connect("data/SpaceX.db")
cur = con.cursor()

%sql sqlite:///data/SpaceX.db

In [6]:
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///data/SpaceX.db
Done.

[('SPACEXTBL',)]

In [23]:
# display table info with PRAGMA
%sql PRAGMA table_info(SPACEXTBL)

   sqlite:///Spacex.db
 * sqlite:///data/SpaceX.db
Done.

[(0, 'flight_number', 'INTEGER', 0, None, 0),
 (1, 'booster', 'TEXT', 0, None, 0),
 (2, 'payload_mass', 'REAL', 0, None, 0),
 (3, 'outcome', 'TEXT', 0, None, 0),
 (4, 'date_utc', 'TEXT', 0, None, 0),
 (5, 'longitude', 'REAL', 0, None, 0),
 (6, 'latitude', 'REAL', 0, None, 0),
 (7, 'reused', 'INTEGER', 0, None, 0),
 (8, 'reused_count', 'INTEGER', 0, None, 0),
 (9, 'serial', 'TEXT', 0, None, 0),
 (10, 'landing_pad', 'TEXT', 0, None, 0),
 (11, 'gridfins', 'INTEGER', 0, None, 0),
 (12, 'legs', 'INTEGER', 0, None, 0),
 (13, 'booster_version', 'TEXT', 0, None, 0),
 (14, 'orbit', 'TEXT', 0, None, 0),
 (15, 'launch_site', 'TEXT', 0, None, 0),
 (16, 'class', 'INTEGER', 0, None, 0)]

In [27]:
# display the names of the unique launch sites
%sql select distinct launch_site from SPACEXTBL

   sqlite:///Spacex.db
 * sqlite:///data/SpaceX.db
Done.

[('CCAFS',), ('VAFB',), ('Cape Canaveral',), ('KSC',), ('CCSFS',)]

In [28]:
# display 5 records where Launch_Site begins with 'CCA'
%sql select * from SPACEXTBL where launch_site like 'CCA%' limit 8

   sqlite:///Spacex.db
 * sqlite:///data/SpaceX.db
Done.

[(1, 'Falcon 1', 20.0, 'None None', '2006-03-24T22:30:00.000Z', 167.7431292, 9.0477206, 0, 0, 'Merlin1A', None, 0, 0, 'F9 v1.07B0003.18', 'LEO', 'CCAFS', 0),
 (2, 'Falcon 1', 5919.16534090909, 'None None', '2007-03-21T01:10:00.000Z', 167.7431292, 9.0477206, 0, 0, 'Merlin2A', None, 0, 0, 'F9 v1.07B0004.18', 'LEO', 'CCAFS', 0),
 (4, 'Falcon 1', 165.0, 'None None', '2008-09-28T23:15:00.000Z', 167.7431292, 9.0477206, 0, 0, 'Merlin2C', None, 0, 0, 'F9 v1.07B0006.18', 'LEO', 'CCAFS', 0),
 (5, 'Falcon 1', 200.0, 'None None', '2009-07-13T03:35:00.000Z', 167.7431292, 9.0477206, 0, 0, 'Merlin3C', None, 0, 0, 'F9 v1.07B0007.18', 'LEO', 'CCAFS', 0),
 (8, 'Falcon 9', 525.0, 'None None', '2012-05-22T07:44:00.000Z', -80.577366, 28.5618571, 0, 0, 'B0005', None, 0, 0, 'F9 v1.1', 'GTO', 'CCAFS', 0),
 (47, 'Falcon 9', 4990.0, 'True RTLS', '2017-09-07T13:50:00.000Z', -80.6039558, 28.6080585, 0, 1, 'B1040', '5e9e3032383ecb267a34e7c7', 1, 1, 'F9 B4[', 'LEO', 'CCAFS', 1),
 (48, 'Falcon 9', 9600.0, 'True ASDS', '2017-10-09T12:37:00.000Z', -120.610829, 34.632093, 0, 1, 'B1041', '5e9e3033383ecbb9e534e7cc', 1, 1, 'F9 FTB1032.2245', 'GTO', 'CCAFS', 1),
 (50, 'Falcon 9', 3700.0, 'True ASDS', '2017-10-30T19:34:00.000Z', -80.6039558, 28.6080585, 0, 0, 'B1042', '5e9e3032383ecb6bb234e7ca', 1, 1, 'F9 B4[', 'GTO', 'CCAFS', 1)]

In [32]:
# Display the total payload mass carried by boosters launched by NASA (CRS)
%sql select SUM(payload_mass) from SPACEXTBL where customer like 'NASA%'

   sqlite:///Spacex.db
 * sqlite:///data/SpaceX.db
(sqlite3.OperationalError) no such column: customer
[SQL: select SUM(payload_mass) from SPACEXTBL where customer like 'NASA%']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [33]:
# Display average payload mass carried by booster version F9 v1.1
%sql select SUM(payload_mass) from SPACEXTBL where booster_version = 'F9 v1.1'

   sqlite:///Spacex.db
 * sqlite:///data/SpaceX.db
Done.

[(1702.0,)]

In [ ]:
# List the date when the first succesful landing outcome in ground pad was acheived.
%sql select MIN(Date) from SPACEXTBL where Landing_Outcome like 'Success%'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

In [ ]:
# List the names of the boosters which have success in drone ship and have payload mass
## greater than 4000 but less than 6000
%%sql
    select Booster_Version, PAYLOAD_MASS__KG_ 
    from SPACEXTBL 
    where Landing_Outcome = 'Success (drone ship)' 
    and PAYLOAD_MASS__KG_ <= 6000 and PAYLOAD_MASS__KG_ >= 4000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600),
 ('F9 FT  B1021.2', 5300),
 ('F9 FT  B1031.2', 5200)]

In [ ]:
# List the total number of susuccessful and failure mission outcomes
%%sql
    select COUNT(*)
    from SPACEXTBL
    where Mission_Outcome like 'Success%'

 * sqlite:///my_data1.db
Done.

[(100,)]

In [ ]:
%%sql
    select COUNT(*)
    from SPACEXTBL
    where Mission_Outcome like 'Failure%'

 * sqlite:///my_data1.db
Done.

[(1,)]

In [ ]:
# List the names of the booster_versions which have carried the maximum payload mass.
%%sql
    select Booster_Version, PAYLOAD_MASS__KG_
    from SPACEXTBL
    where PAYLOAD_MASS__KG_ = (select MAX(PAYLOAD_MASS__KG_) from SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

In [ ]:
# List the records which will display the month names, failure landing_outcomes in drone ship ,
## booster versions, launch_site for the months in year 2015.
### Note: SQLLite does not support monthnames. We need to use substr(Date, 6,2) as month to get the months
#### and substr(Date,0,5)='2015' for year.
%%sql 
    select substr(Date,6,2) as Month, Landing_Outcome, Booster_Version, Launch_Site
    from SPACEXTBL
    where Date like '2015%'
    and Landing_Outcome = 'Failure (drone ship)'

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

In [ ]:
# We rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) 
## between the date 2010-06-04 and 2017-03-20, in descending order.
%%sql 
    select Date, Landing_Outcome
    from SPACEXTBL
    where Landing_Outcome in ('Failure (drone ship)', 'Success (ground pad)')
    order by Date desc

 * sqlite:///my_data1.db
Done.

[('2018-01-08', 'Success (ground pad)'),
 ('2017-12-15', 'Success (ground pad)'),
 ('2017-09-07', 'Success (ground pad)'),
 ('2017-08-14', 'Success (ground pad)'),
 ('2017-06-03', 'Success (ground pad)'),
 ('2017-05-01', 'Success (ground pad)'),
 ('2017-02-19', 'Success (ground pad)'),
 ('2016-07-18', 'Success (ground pad)'),
 ('2016-06-15', 'Failure (drone ship)'),
 ('2016-03-04', 'Failure (drone ship)'),
 ('2016-01-17', 'Failure (drone ship)'),
 ('2015-12-22', 'Success (ground pad)'),
 ('2015-04-14', 'Failure (drone ship)'),
 ('2015-01-10', 'Failure (drone ship)')]